@import 'bootstrap/dist/css/bootstrap.min.css';

.btn-primary:active,
.btn-primary:focus {
  background-color: #0b5ed7;
  border-color: #0a58ca;
  color: #fff;
  box-shadow: none;
}

.form-control::placeholder {
  color: #6c757d;
}

.feedback {
  position: absolute;
}
